
@model List<WebApplicationNewSait.Domain.Entity.PolyurethaneFoam>
@{

}
@foreach (var PolyurethaneFoam in Model)
{
    <p>@PolyurethaneFoam.Name</p>
    <p>@PolyurethaneFoam.Properties</p>
    <p>@PolyurethaneFoam.Description</p>
    <p>@PolyurethaneFoam.Price</p>
    

}