
@model List<WebApplicationNewSait.Domain.Entity.PolyurethaneFoam>
@{

}

@foreach (var polyurethaneFoam in Model)
{
    <p>@polyurethaneFoam.Name</p>
    <p>@polyurethaneFoam.Properties</p>
    <p>@polyurethaneFoam.Description</p>
    <p>@polyurethaneFoam.Price</p>
    

}