
@model List<PPUmarket.Domain.Entity.Foam>
@{
    ViewBag.Title = "title";
    Layout = "layout";
}
@foreach(var foam in Model)
{
    <p>@foam.Name</p>
    <p>@foam.Properties</p>
    <p>@foam.Description</p>
}
