@using SaitForPPY.Controllers
@model List<CreateUserViewModel>;

@{foreach (var item in Model)
{
    <h1>@item.Name -- @item.Age</h1>
}
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var user = new User()
    {
        Name = "Alex",
        Age =13
    };
}
<div class="card col-md-12">
    <div class="row g-o">
        <div class=" col-md-4"
    </div>
    <div class="card col-md-8">
        <div class=" card-body">
            <h5 class=" card-title text-center">Данные пользователя</h5>
            <p>@user.Name-@user.Age</p>
            <hr/>
        </div>
    </div>
    </div>
</div>
<hr/>
