@using SaitForPPY.Controllers
@model CreateUserViewModel
@{
    ViewData["Title"] = "Создание пользователей";
}

<div class="card col-md-12">
    <form asp-action="CreateUser" asp-controller="Home" method="post">
        <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger"></div>
        <div class="mb-3">
            <label class=" form-label">Name</label>
            <input type="text" asp-for="Name" class="front-control" />
        </div>
        <div class="mb-3">
            <label class=" form-label">Age</label>
            <input type="text" asp-for="Age" class="front-control" />
        </div>
        <div class="mb-3">
            <label class=" form-label">Adress</label>
            <input type="text" asp-for="Adress" class="front-control" />
        </div>
        <div class="mb-3">
            <label class=" form-label">Phone</label>
            <input type="text" asp-for="Phone" class="front-control" />
        </div>
        <div class="mb-3">
            <label class=" form-label">NumberCard</label>
            <input type="text" asp-for="NumberCard" class="front-control" />
        </div>
        <div>
            <button class="btn btn-primary float-right" type="submit">Отправить</button>
        </div>
    </form>
</div>

<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-center nav-link" asp-controller="Account" asp-action="GetAllUsers">Посмотреть всех пользователей который вбили</a>
</nav>

