@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Тут можно посмотреть что такое напыление ППУ</h1>
    <p class="card-text text-center">
        Здесь ты можешь расчитать сколько будет стоит напыление твоего дома
    </p>
    <p class="card-text text-center"><small class ="text-muted">Тут текст чегото
</div>
</div>
<hr size ="3" color="black"/>
<div>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-center nav-link" asp-controller="Home" asp-action="PrintValue">#1</a>
        <a class="flex-sm-fill text-center nav-link" asp-controller="Home" asp-action="PrintValueColletion">#2</a>
        <a class="flex-sm-fill text-center nav-link" asp-controller="Home" asp-action="Calculate">#3</a>
        <a class="flex-sm-fill text-center nav-link" asp-controller="Home" asp-action="CreateUser">#4</a>
    </nav>
</div>
